<div layout="column" ng-cloak layout-fill ng-cloak ng-controller="DashBoardCtrl">
    <section layout="row" flex="">
        <md-sidenav class="md-sidenav-left " md-component-id="left" md-is-locked-open="$mdMedia('lg')" md-whiteframe="4">
            <md-toolbar class="md-hue-2">
                <h1 class="md-toolbar-tools animated  bounce"> Dash Board</h1>
            </md-toolbar>
            <md-content layout-padding="">
                <md-button ng-click="close()" class="md-primary">
                    Close Sidenav Left
                </md-button>
            </md-content>
        </md-sidenav>
        <md-content flex="">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button hide-gt-sm class="md-icon-button" ng-click="openLeftMenu()">
                        <md-icon class="material-icons step" aria-label="menu">menu</md-icon>
                    </md-button>
                    <md-menu md-offset="0 35">
                        <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                            <md-icon md-menu-origin="">keyboard_arrow_down</md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button>
                                    <div layout="row" flex>
                                        <p flex>Profile</p>
                                        <md-icon class="step img" md-menu-align-target aria-label="description" style="margin: auto 3px auto 0;">person_outline</md-icon>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    <div layout="row" flex>
                                        <p flex>Logout</p>
                                        <md-icon class="step img" md-menu-align-target aria-label="description" style="margin: auto 3px auto 0;">lock_open</md-icon>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-toolbar>
            <md-content layout="column">
                <form name="searchWeather">
                    <md-card layout="row" class="search-widget">
                                <!-- <md-input-container flex> -->
                                    <!-- <label>City</label> -->
                                    <!-- <md-icon class="template" aria-label="login">location_searching</md-icon> -->
                                    <input flex ng-minlength="2" type="text" md-autofocus placeholder="Enter Your Location" ng-model="city" name="city" required/>
                                    <div ng-messages="loginForm.city.$error" style="color:maroon" role="alert">
                                        <div ng-message="minlength">Your field is too short</div>
                                        <div ng-message="maxlength">Your field is too long</div>
                                    </div>
                                <!-- </md-input-container> -->
                                <md-button ng-disabled="searchWeather.$invalid" ng-click="checkTemp(city)" class="md-icon-button">
                                    <md-icon md-menu-origin="" aria-label="description">search</md-icon>
                                </md-button>
                    </md-card>
                </form>
                <md-card ng-if="weather"  ng-cloak>
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-title" ng-animate="'animate'">{{weather.name}}</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content >
                        <md-list>
                            <md-list-item class="temp-details">
                                <p class="md-display-1">{{weather.main.temp|accurate|number:0}}<sup class="wi wi-celsius"></sup><sup class="wi wi-fahrenheit"></sup></p>
                                <i ></i>


                                <md-icon class="wi wi-day-sunny" ng-if="weather.main.temp>300">
                                </md-icon>
                                <md-icon class="wi wi-day-cloudy"  ng-if="weather.main.temp<300">
                                </md-icon>
                            </md-list-item>
                            <md-list-item>
                                <p >{{weather.main.humidity}}</p>
                                <md-icon class="wi wi-humidity"></md-icon>
                            </md-list-item>
                            <!-- <md-list-item>
                                <p >{{weather.main.temp_max|accurate|number:0}}</p>
                                <p >{{weather.main.temp_min|accurate|number:0}}</p>
                            </md-list-item> -->
                            
                            <md-list-item>
                                <p>{{weather.sys.sunrise|locationTime}}</p>
                                <md-icon class="wi wi-sunrise"></md-icon>
                            </md-list-item>
                            <md-list-item>
                                <p >{{weather.sys.sunset| locationTime}}</p>
                                <md-icon class="wi wi-sunset"></md-icon>
                            </md-list-item>
                        </md-list>
                    </md-card-content>
                </md-card>
                
            </md-content>
        </md-content>
    </section>
</div>
